# Python
__pycache__/
*.py[cod]
*~

# Logs and databases
*.log
*.sqlite

# Virtual environment
venv/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Dependency directories
__pycache__/
.pytest_cache/
env/
